@model List<SmokeJobListModel>
@{
    ViewData["Title"] = "SmokeTest Job List";
}



<div class="row">

    <table class="table table-bordered">
        <caption>Job List</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>CreateDate</th>
                <th>Type</th>
                <th>TaskCnt</th>
                <th>Describe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model) {
                <tr class="job" onclick="parent.location = '/SmokeTest/JobReport/@m.Id';">
                    <td>@m.Id</td>
                    <td>@m.CreateDate</td>
                    <td>SmokeTest</td>
                    <td>@m.TaskCnt</td>
                    <td>@m.Describe</td>
                    
                </tr>
            }

        </tbody>
    </table>

   
</div>


@Html.Pagination((int)ViewBag.page, (int)ViewBag.total, (int)ViewBag.row)
