@model List<SmokeTaskListModel>
@{
    ViewData["Title"] = "SmokeJob Report";
}



<div class="row">

    <table class="table table-bordered">
        <caption>@ViewData["Title"]</caption>
        <thead>
            <tr>
                <th>JobType</th>
                <th>Name</th>
                <th>ResultType</th>
                <th>Result</th>
                <th>Device</th>
                <th>RunDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model) {
                <tr class="task" onclick="parent.location = '/ResultFile/@m.Id';">
                    <td>Smoke Test</td>
                    <td>@m.Name</td>
                    <td>@( m.RunStatus == 0?"No Run": m.RunStatus == 1?"Pass":"Fail")</td>
                    <td><pre>@m.Result</pre></td>
                    <td>@m.Device</td>
                    <td>@m.RunDate</td>
                    
                </tr>
            }

        </tbody>
    </table>

   
</div>

